<!doctype html>
<html lang="en">
  <head>
    <title>Product List</title>
 
  </head>
  <body>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" *ngFor="let product of products">
          <mat-card class="mat-elevation-z4" >
            <mat-card-header>
              <mat-card-title>{{product.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/1.webp">
            <mat-card-content>
              <p>
                {{product.categoryname}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/product-details', product.id]">click here</a>
              <button mat-button>{{product.price}}</button>
              <button mat-button>TND</button>
       <button mat-raised-button color="warn" (click)="removeProduit(product)">Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </div>
  </body>
   
